<div class="container">

  <mat-card class="home">
    <h2>Menu</h2>
    <mat-list role="list">
      <mat-list-item role="listitem">Site home</mat-list-item>
      <a href="resources"><mat-list-item role="listitem">Resources</mat-list-item></a>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              My courses
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-selection-list>
            <mat-list-option *ngFor="let course of courses">
              {{course}}
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-list>
  </mat-card>

  <mat-card class="concentration">
    <h2>Contentration Timer</h2>
    <div class="group">
      <div class="timer">
        <span><span *ngIf="hours<10">0</span>{{hours}}</span>h &nbsp;
        <span><span *ngIf="minutes<10">0</span>{{minutes}}</span>m &nbsp;
        <span><span *ngIf="seconds<10">0</span>{{seconds}}</span>s &nbsp;
      </div>
      <div class="buttons">
        <mat-icon (click)="startTimer()">play_arrow</mat-icon>&nbsp;
        <mat-icon (click)="pauseTimer()">pause_arrow</mat-icon>&nbsp;
        <mat-icon (click)="restartTimer()">refresh</mat-icon>&nbsp;
      </div>
    </div>
  </mat-card>

  <mat-card class="main">
    <h3>Course Overview</h3>
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Favorites">
        <div class="course-package">
          <mat-icon matBadgeColor="warn">star</mat-icon>
          <a href="acourse"><p>Parallel and Distributed Computing</p></a>
        </div>
        <div class="course-package">
          <mat-icon matBadgeColor="warn">star</mat-icon>
          <a href="acourse"><p>User Interface Design</p></a>
        </div>
        <div class="course-package">
          <mat-icon matBadgeColor="warn">star</mat-icon>
          <a href="acourse"><p>Translators Design</p></a>
        </div>
      </mat-tab>
      <mat-tab label="Courses">
        <div class="course-package">
          <mat-icon matBadgeColor="warn">star_border</mat-icon>
          <a href="acourse"><p>Distributed Systems</p></a>
        </div>
        <div class="course-package">
          <mat-icon matBadgeColor="warn">star_border</mat-icon>
          <a href="acourse"><p>Pattern Recognition Computing</p></a>
        </div>
        <div class="course-package">
          <mat-icon matBadgeColor="warn">star_border</mat-icon>
          <a href="acourse"><p>Marketing</p></a>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>

  <a href="calendar"><img id='calendarimg'  src="../../assets/calendar.png" alt=""></a>

  <mat-card class="upcoming">
    <h2>Upcoming events</h2>
    <mat-list role="list">
      <mat-list-item role="listitem">Deadline phase 4 User Interface design</mat-list-item>
      <mat-list-item role="listitem">Deadline phase 4 User Interface design</mat-list-item>
      <mat-list-item role="listitem">Deadline phase 4 User Interface design</mat-list-item>
      <mat-list-item role="listitem">Deadline phase 4 User Interface design</mat-list-item>
      <mat-list-item role="listitem">Deadline phase 4 User Interface design</mat-list-item>
      <mat-list-item role="listitem">Deadline phase 4 User Interface design</mat-list-item>
    </mat-list>
  </mat-card>

  <mat-card class="quotes">
    <div>{{quote}}</div>
    <div>
      <mat-icon (click)="changeQuote()" style="padding-right: 0.5rem">refresh</mat-icon>
      <mat-icon (click)="saveQuote(quote)" class="favourite">favorite_border</mat-icon>
    </div>
  </mat-card>

</div>
