:host {
  flex: 1;
  /*color: #fff;*/
}

.container {
  height: 100%;
  display: grid;
  width: 100%;
}

.home {
  grid-area: home;
}

.concentration {
  grid-area: concentration;
  height: 100px;
}

.concentration h2 {
  margin-bottom: 10px;
}

.concentration .timer {
  text-align: center;
}

.concentration .buttons {
  text-align: center;
}

.concentration .buttons mat-icon {
  cursor: pointer;
}

.concentration .timer > span {
  text-decoration: underline;
}

.concentration .group {
  height: 70px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.calendar {
  grid-area: calendar;
}

.main {
  grid-area: main;
}

.upcoming {
  grid-area: upcoming;
}

.quotes {
  grid-area: quotes;
  user-select: none;
}

.container {
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas: "home main main upcoming" "home main main upcoming" "concentration quotes quotes calendar";
  justify-items: center;
  align-items: center;
}

.quotes.mat-card {
  width: 20rem;
  display: flex;
  flex-direction: column;
  background: transparent;
  box-shadow: none;
}

.quotes > div:last-of-type {
  text-align: right;
  cursor: pointer;
}

.quotes > div:first-of-type {
  font-weight: bold;
  user-focus: none;
  text-align: center;
}

.main {
  height: auto;
}

.favourite:hover {
  color: red;
}
