.example-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 60px;
  padding-right: 60px;
}

.example-container > * {
  width: 100%;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
