<main
  [ngStyle]="{'background-image': 'url(../../assets/back.jpg)', 'background-size': 'cover', 'transition': 'background-image 2s ease-in-out'}">
  <nav *ngIf="showNavbar">
    <div class='top'>
      <img src="../../assets/logo.png">
      <div class="aside">
        <a href="events"><mat-icon matBadge="15" matBadgeColor="warn">date_range</mat-icon></a>
        <mat-icon matBadge="7" matBadgeColor="warn">question_answer</mat-icon>
        <img src="https://guyrothblum.files.wordpress.com/2014/11/guy_rothblum_square.jpg">
        <p>{{username}}</p>
        <span (click)="logout()">Log out</span>
      </div>
    </div>
    <div class="bottom">
      <div class="aside">
        <button mat-button routerLink="drive">Drive</button>
        <button mat-button routerLink="quotes">Quotes</button>
        <button mat-button routerLink="events">Events</button>
        <button mat-button routerLink="groups">Groups</button>
        <button mat-button routerLink="survey">Surveys</button>
        <div class="users" *ngIf="localStorage.getItem('username')==='secretary'">
        <button mat-button routerLink="users">Users</button>
        </div>
      </div>
    </div>
  </nav>
  <router-outlet (childEvent)="test($event)"></router-outlet>
</main>
