<div class="container">

  <mat-card class="home">
    <h2>Menu</h2>
    <mat-list role="list">
      <mat-list-item role="listitem">Site home</mat-list-item>
      <a href="resources"><mat-list-item role="listitem">Resources</mat-list-item></a>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              My courses
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-selection-list>
            <mat-list-option *ngFor="let course of courses">
              {{course}}
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-list>
  </mat-card>

  <mat-card class="concentration"></mat-card>

  <mat-card class="main">
    <h3>Parallel and Distributed Computing</h3>
    <mat-tab-group animationDuration="0ms">
     <mat-tab label="Questions">
       <mat-list role="list">
         <mat-list-item *ngFor="let course of questionsList">
           <button (click)="showDetails()" mat-button color="primary">
           {{course}}
           </button>
         </mat-list-item>
       </mat-list>
     </mat-tab>
    </mat-tab-group>
  </mat-card>

  <a href="calendar"><img id='calendarimg'  src="../../assets/calendar.png" alt=""></a>

  <mat-card class="upcoming">
    <h2>Upcoming events</h2>
    <mat-list role="list">
      <mat-list-item role="listitem">Deadline phase 4 User Interface design</mat-list-item>
      <mat-list-item role="listitem">Deadline phase 4 User Interface design</mat-list-item>
      <mat-list-item role="listitem">Deadline phase 4 User Interface design</mat-list-item>
      <mat-list-item role="listitem">Deadline phase 4 User Interface design</mat-list-item>
      <mat-list-item role="listitem">Deadline phase 4 User Interface design</mat-list-item>
      <mat-list-item role="listitem">Deadline phase 4 User Interface design</mat-list-item>
    </mat-list>
  </mat-card>

  <mat-card class="quotes">
    <div>{{quote}}</div>
    <div>
      <mat-icon (click)="changeQuote()" style="padding-right: 0.5rem">refresh</mat-icon>
      <mat-icon (click)="saveQuote(quote)">favorite_border</mat-icon>
    </div>
  </mat-card>

</div>
